<br><br><br>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @contact.name %>
</p>

<p>
  <b>Study:</b>
  <%= @contact.study %>
</p>

<p>
  <b>Work:</b>
  <%= @contact.work %>
</p>

<p>
  <b>Comment:</b>
  <%= @contact.comment %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
