<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Vincula.me</a>
      <!--/.nav-collapse-->
    </div>
  </div>
</div>
<div class="sign-in">
  <h2 class="form-sign-in">Ingresa</h2>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {class: "form-horizontal form-sign-in"}) do |f| %>
      <div class="control-group">
        <%= f.label :email, class: "control-label" %>
        <div class="controls"><%= f.email_field :email, :autofocus => true %></div>
      </div>

      <div class="control-group">
        <%= f.label :password, class: "control-label" %>
        <div class="controls"><%= f.password_field :password %></div>
      </div>

      <% if devise_mapping.rememberable? -%>
          <div class="control-group">
            <div class="controls"><%= f.check_box :remember_me, class: "checkbox checkbox-remember" %> <%= f.label :remember_me, class: "checkbox remember" %></div>
          </div>
      <% end -%>

      <div><%= f.submit "Ingresa", class: "btn btn-success btn-sign-in" %>
        <%= render "devise/shared/links" %></div>
  <% end %>
</div>